.textInput
  border: 0
  border-bottom: 1px solid rgba(0, 0, 0, .3)
  height: 30px
  padding: 0 10px
  font-size: .9em
  font-family: inherit
  width: 100%
  color: #377e93
  &:focus
    border-color: #63b9e8
