.fieldWrapper
  display: flex
  flex-direction: column
  width: 100%

.textInput
  border: 0
  border-bottom: 1px solid rgba(0, 0, 0, .3)
  height: 40px
  padding: 0 10px
  font-size: 1em
  font-family: inherit
  &:focus
    border-color: #63b9e8
