html, body
  font-family: 'Roboto', sans-serif
  font-weight: 400
  height: 100%
  color: #333

a
  color: inherit

.x-root
  height: 100%

/*.header
  grid-area: header

.footer
  grid-area: footer

.main
  grid-area: main

.wrapper
  background-color: #fff
  color: #444
  display: grid
  grid-gap: 1em
  grid-template-areas: 'header' 'main' 'footer'

.box
  background-color: #444
  color: #fff
  padding: 10px
  font-size: 150%

.header, .footer
  background-color: #999*/
