.header
  background-color: #000
  color: #fff
.headerContainer
  display: flex
  justify-content: space-between
  align-items: center
.menuItem
  padding: 1.3rem 1rem
  display: inline-block
  text-decoration: underline
  text-decoration-color: #fff
  text-transform: uppercase
  &:hover
    text-decoration-color: transparent
    transition: text-decoration-color .3s
.isActive
  text-decoration-color: transparent
